$gold: hsl(40, 90%, 30%);
$blue: hsl(230, 80%, 50%);
$dark-gold: hsl(40, 90%, 15%);
$dark-grey: hsl(0, 0%, 20%);
$washed-gold: hsl(40, 100%, 90%);
$washed-blue: hsl(230, 100%, 95%);

.bg-dark-grey { background-color: $dark-grey; }
.bg-dark-gold { background-color: $dark-gold; }
.bg-washed-gold { background-color: $washed-gold; }
.bg-washed-blue { background-color: $washed-blue; }
.grey { color: hsl(0, 0%, 30%); }
.dark-grey { color: $dark-grey; }
.gold { color: $gold }
.blue { color: $blue }
.hv-gold:hover { color : $gold }
