.mr-0 { margin: 0; }
.up-mr-10 { margin-top: 10px; }
.up-mr-20 { margin-top: 20px; }
.up-mr-25 { margin-top: 25px; }
.up-mr-30 { margin-top: 30px; }
.d-mr-10 { margin-bottom: 10px; }
.d-mr-20 { margin-bottom: 20px; }
